*{
    text-align: center;
}

#homeContainer{
  margin-top: 2%;
}
.phones-container {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.phone-item {
  margin: 2.5%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.phone-item img {
    margin: auto;
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}
